<section id="trailguide" class="content-section">
  <h3>trailguide.io</h3>
  <p>Learn JavaScript, Node.js, Git, & other useful web technologies. <a href="https://trailguide.io" target="_blank" class="serif italic">trailguide.io</a></p>
  <a href="https://trailguide.io" target="_blank">
    <img class="trailguide-book-cover" src="https://trailguide.io/assets/guides/01-github-login/trailguide-01-github-login-cover-small.jpg">
    <p>Learn to use the GitHub API to allow users to log in to your apps built almost entirely with client-side JavaScript.</p>
  </a>
</section>
